/*____________________________________________________________________________________________________________________*/
/*VARIABLES IMPORTÉES*/
@import "variable_mixin";


/*____________________________________________________________________________________________________________________*/
/*CGV*/

.CGV {
  width: 78%;
  margin: 0;
  padding-top: 50px;
}

.cgv_title {
  padding-top: 200px;
  padding-bottom: 30px;
  margin: 0;
  @include fontAdam;
  letter-spacing: 20px;
  color:$kakiColor;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.cgv_title_small{
  margin: 50px 0 50px 100px;
  @include fontRoboto;
  letter-spacing: 10px;
  color:$vertTendre;
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
}

.cgv_content{
  margin: 0 0 0 100px;
  @include fontRoboto;
  text-align: justify;
  line-height: 150%;
}

.hr_cgv{
  width: 85%;
  height: 1px;
  background-color: $vertTendre;
  border:none;
  margin-top: -7px;
}

#cgv_end{
  padding-bottom: 100px;
}
