/*____________________________________________________________________________________________________________________*/
/*FONT*/

@font-face {
  font-family: 'Adam';
  src:url('../font/adam.otf') format('opentype');
}
@font-face {
  font-family: 'Minimal';
  src:url('../font/minimal.otf') format('opentype');
}
