/*//___________________________________________________________________________
//FORMULAIRE*/

.form{
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.form_content{
  font-family: Adam, Helvetica, sans-serif;
  margin: 50px;
  width: 100%;
  border-style: none;
}


/*_________________________________ FORMULAIRE END*/