/*____________________________________________________________________________________________________________________*/
/*MEDIAQUERIES*/



/*@media screen and (max-width: 768px) {
  .header1{
    position: relative;
    display: flex;
    justify-content: center;
  }

  .menu{
    position: absolute;
    top: 10%;
    left: 50%;
    display: block;
  }*/

  /*.header1 {

    display:block;
    height:50px;
  }

  .menu{
    display:none;
  }

  .logo1{
    width: 20%;
    display: flex;
    justify-content: center;
  }

  .logo1 img{
    width: 10%;
  }

  .header2{
    display:block;
  }

  .logo2{
    width: 20%;
    display: flex;
    justify-content: center;
  }

  .logo2 img{
    width: 10%;
    display: flex;
    justify-content: center;
  }

  .bloc_white{
    height:20px;
    width: 100%;
    background-color: white;
    position: fixed;
    top:0;
  }

  .sidebar{
    display:none;
  }

  .top{
    display:none;
  }
}*/