{#la … extends me permets d'appeler le fichier partiel qui regroupe le 'header' et 'footer' présent sur toutes les pages de mon site#}
{% extends 'baseUser/base.html.twig' %}

     {# j'intègre le contenu de ma page entre le 'block' et le 'endblock'#}
     {% block content %}

        <div>
             <h1 class="cgv_title" id="cgv_title">MENTIONS LEGALES</h1>
             <hr class="hr_cgv">
             <hr class="hr_cgv">

             <div class="CGV" id="CGV">
                 <h2 class="cgv_title_small" id="cgv_title_small">Anne Lamour Patisserie</h2>
                 <p class="cgv_content" id="cgv_content">
                     Andernos Les Bains
                     <br>N° SIRET : 850 474 388 00020
                     <br>Non soumis à la TVA
                     <br>
                     <br>http://www.annelamourpatisseries.com
                     <br>
                     <br>Hébergement : 
                     <br>Crédits photographiques : Sébastien Gay-Brown, Anne Lamour
                     <br><a  href="{{'https://www.sebastiengaybrown.com/'}}" target="{{ 'blank' }}">Site de Sébastien Gay-Brown</a>
                     <br>Création du site : addesign.studio
                     <br>Pour toute suggestion ou information concernant le site Internet,
                     <br>vous pouvez écrire à l’adresse électronique suivante : annelamourpatisseries@gmail.com
                 </p>
             </div>

        <div>
             <h1 class="cgv_title" id="cgv_title">CGV</h1>
             <hr class="hr_cgv" id="hr_cgv">
             <hr class="hr_cgv" id="hr_cgv">

             <div class="CGV" id="CGV">
                <h2 class="cgv_title_small" id="cgv_title_small">APPLICATION</h2>
                    <p class="cgv_content" id="cgv_content">
                        Les présentes Conditions Générales de Vente (ci-après « C.G.V »), définissent les modalités de vente entre la Société et le Client dans le cadre d'un système de vente à distance sur les réseaux numériques tels qu’Internet et le réseau mobile, pour des marchandises définies au catalogue de vente du site Internet et mobile www.annelamourpatisseries.com (ci-après « le Site »).
                        Ces CGV s’appliquent à l’exclusion de toutes autres conditions, notamment celles en vigueur sur d’autres sites internet ou d’autres supports.
                        Les présentes C.G.V sont portées à la connaissance de chaque Client pour lui permettre de passer commande et d’effectuer ses achats.
                        Le fait pour le Client de remplir une commande sur le Site (remplissage du panier) et de confirmer la commande (validation du panier) vaut acceptation pleine et entière des présentes C.G.V, lesquelles seront seules applicables au contrat qui suit.
                        La Société se réserve le droit de modifier en tout ou en partie et à tout moment les présentes C.G.V.
                        La Société propose à la vente les produits et les cours et ateliers prévus aux articles suivants.
                    </p>

                <h2 class="cgv_title_small" id="cgv_title_small">LES PRODUITS</h2>
                    <p class="cgv_content" id="cgv_content">
                        Les produits proposés au Client sont ceux qui figurent dans le catalogue publié sur le Site dans la limite des stocks disponibles et sous réserve du bon fonctionnement du Site.
                        Chaque produit est présenté accompagné d’une photographie et d’un descriptif établi par la Société. Les descriptifs sont destinés à présenter au Client les caractéristiques essentielles des produits avant la prise de commande définitive et ne peuvent en aucun cas engager la responsabilité de la Société. Les visuels des produits sont fournis à titre indicatif et ne sont pas contractuels.
                        La Société garantit au Client que les produits sont fabriqués, emballés et conservés selon les règles de qualité stricte conformément aux normes en vigueur en France. Toutefois, la Société ne saurait étendre sa garantie sur ses produits si le Client n’a pas respecté des conditions de conservation optimales, ou si celui-ci a consommé des produits au-delà de la date limite de conservation indiquée sur l’emballage.
                        3.1. La prise de commande des produits
                        La prise de commande sur le Site implique l’ouverture d’un compte Client composé d’une adresse e-mail et d’un mot de passe. Ces identifiants sont et devront être tenus confidentiels. Le droit d'accès par le Client aux identifiants peut s’effectuer sur simple demande auprès de la messagerie annelamourpatisserie@gmail.com, qui répondra uniquement par e-mail à l’adresse utilisée lors de la création du compte Client.
                        Pour passer commande, le Client s’engage à remplir les éléments constitutifs de sa commande avec précision et rigueur. A ce titre, il s’engage à renseigner intégralement les différentes rubriques nécessaires au bon traitement de sa commande.
                    </p>
            </div>
        </div>


         <div>
             <h1 class="cgv_title" id="cgv_title">Politique de confidentialite</h1>
             <hr class="hr_cgv" id="hr_cgv">
             <hr class="hr_cgv" id="hr_cgv">

             <div class="CGV" id="CGV">
                 <h2 class="cgv_title_small" id="cgv_title_small">PROPRIETE INTELLECTUELLE ET INTERDICTION</h2>
                 <p class="cgv_content" id="cgv_content">
                     La structure, la mise en page, la charte graphique, les textes, la base de donnée, les images, les photographies, les sons, les vidéos et tout autre élément composant le Site sont et restent la propriété intellectuelle et exclusive de l’entreprise Anne Lamour Pâtisserie et sont protégés par le droit d'auteur. Les marques, les noms commerciaux et les logos figurant sur ce site sont des marques déposées.
                     La reproduction, la rediffusion ou l’utilisation à quelque titre que ce soit, même partiellement, des éléments du Site sont soumis à l’autorisation expresse et préalable de l’entreprise Anne Lamour pâtisserie, titulaire de l’ensemble des droits de propriété intellectuelle. L’utilisateur qui dispose d’un site Internet et qui désire placer sur son site un lien simple renvoyant directement au site www.annelamourpatisseries.com doit préalablement solliciter l’autorisation de l’entreprise Anne Lamour Pâtisserie.
                     Le Client ne doit en aucun cas revendre les produits qui sont destinés à son usage personnel ou à celui de la personne destinataire de sa commande.
                 </p>

                 <h2 class="cgv_title_small" id="cgv_title_small">PROTECTION DES DONNÉES PERSONNELLES</h2>
                 <p class="cgv_content" id="cgv_end" id="cgv_content">
                     En commandant via le Site, le Client consent à l'utilisation par l’entreprise Anne Lamour Pâtisserie des données nominatives le concernant. Ces données sont nécessaires pour assurer le bon traitement des commandes. L’ensemble de ces informations est traité avec la plus grande rigueur et la plus grande discrétion.
                     L’entreprise Anne Lamour Pâtisserie s’engage à ne pas divulguer à des tiers les informations communiquées par le Client sur le Site. Celles-ci sont confidentielles.
                     Conformément à la législation en vigueur, le Client bénéficie d’un droit d’accès et de rectification et de suppression des données qui le concernent. Pour exercer ce droit et obtenir communication des informations, le Client peut contacter l’entreprise Anne Lamour pâtisserie à annelamourpatisserie@gmail.com.
                 </p>
             </div>
         </div>

     {% endblock %}